*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
td input{
    width: 50px;
    height: 50px;
    margin-right: 0;
    cursor: pointer;
}
.textview{
    width: 240px;
    padding: 0.5em;
}
.main{
   margin: 0 auto;
    
}
.contain{
    

    height: 100vh;
    /*background-color: red;*
    background-color:linear-gradient( red, yellow);
    */
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
    background: linear-gradient(45deg, red,blue);
  

}